  
  
		<!-- ==== HEADERWRAP ==== -->
	    <div id="headerwrap" id="home" name="home">
			<header class="clearfix">
	  		 		<h1><span class="icon icon-shield"></span></h1>
	  		 		<p>La orden del Rol.</p>
	  		 		<p>Bienvenido</p>
	  		</header>	    
	    </div><!-- /headerwrap -->

		
		
		<!-- ==== Vision ==== -->
		<div class="container" id="about" name="about">
			<div class="row white">
			<br>
				<h1 class="centered">NUESTRA VISION</h1>
				<hr>
				
				<div class="col-lg-6">
					<p> Estamos convencidos de que las ideas provienen de todos lados, y de cualquiera. Cualquiera puede escribir una historia y, a traveś del juego de rol, otros también pueden experimentarla. Sin embargo el juego de rol es mucho más que eso. Es una actividad integral que combina el arte, la creatividad y la pasión con un elemnto lúdico innegable. </p>
				</div><!-- col-lg-6 -->
				
				<div class="col-lg-6">
					<p> Fundada en el 2010 entre cuatro amigos jugadores -y narradores- de juegos de rol, la Orden del rol ha participado -y en algunos casos organizado completamente- en eventos como Yamanishi 2010 y 2011, Literol, Mendotaku y otros. Nuestra misión es difundir el juego de rol, sus ventajas y virtudes, y por supuesto, ayudar a crear nuevos narradores..</p>
				</div><!-- col-lg-6 -->
			</div><!-- row -->
		</div><!-- container -->
		
		<!-- ==== SECTION DIVIDER1 -->
		<section class="section-divider textdivider divider1">
			<div class="container">
				<h1>EXPANDE TU IMAGINACIÓN</h1>
				<hr>
				<p>Nunca te pongas límites. Los juegos de rol pueden ser la experiencia que has estado buscando</p>
			</div><!-- container -->
		</section><!-- section -->
		
		
		
		<!-- ==== EQUIPO ==== -->
		<div class="container" id="team" name="team">
		<br>
			<div class="row white centered">
				<h1 class="centered">NUESTRO FANTÁSTICO EQUIPO</h1>
				<hr>
				<br>
				<br>
				<div class="col-lg-3 centered">
					<img class="img img-circle" src="/assets/team/team01.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>Esteban Bermejo</b></h4>
					<a href="#" class="icon icon-twitter"></a>
					<a href="https://www.facebook.com/estebansilvio.bermejo" class="icon icon-facebook"></a>
					 
					<p>Jugador de Rol desde 1999. Narrador de "La llamada de Cthulhu" y "Tierra Media". Excelente escritor, músico y compañero. </p>
				</div><!-- col-lg-3 -->
				
				<div class="col-lg-3 centered">
					<img class="img img-circle" src="/assets/team/team02.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>Andrés Coppola</b></h4>
					
					<a href="https://www.facebook.com/peyus" class="icon icon-facebook"></a>
					
					<p>Jugador de ROl desde 1998. Narrador de Calabozos y Dragones centrado en Planescape, voraz lector y webmaster de esta Página.</p>
				</div><!-- col-lg-3 -->
				
				<div class="col-lg-3 centered">
					<img class="img img-circle" src="/assets/team/team03.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>Pablo Gorigoitia</b></h4>
					
					<a href="#" class="icon icon-facebook"></a>
					<p>Jugador de rol desde 1996, Narrador de "cyberpunk", "calabozos y dragones" y otros. Bajista de "nombre de la banda", asombroso diseñador, luthier, y practicante de soft - combat </p>
				</div><!-- col-lg-3 -->
				
				<div class="col-lg-3 centered">
					<img class="img img-circle" src="/assets/team/team04.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>Mónica Guzman</b></h4>
					<a href="https://www.facebook.com/monika.viktordrak" class="icon icon-facebook"></a>
					<p>Jugadora de rol desde 1992. Narradora de "Vampiro, edad Oscura", "Kult" y muchos otros. Pionera de los juegos de rol en Mendoza. Nuestra mejor narradora y corazón de la orden.</p>
				</div><!-- col-lg-3 -->
				
			</div><!-- row -->
		</div><!-- container -->

		<!-- ==== ARTICULOS ==== -->
		<div id="greywrap">
			<div class="container" id="Articulos" name="Articulos">
				<div class="row">
					<div class="col-lg-8 centered">
						<img class="img-responsive" src="/assets/macbook.png" align="">
					</div>
					<div class="col-lg-4">
						<h2>Articulos</h2>
						<p>Actualmente esta sección se encuentra en costrucción, muy pronto podrás apreciar lo mejor de nuestras experiencias. ¡No te lo pierdas!</p>
						<p><%= link_to "Leer Mas", articulos_path, {class: 'btn btn-success'} %></p>
						
					</div>					
				</div><!-- row -->
			</div>
			<br>
			<br>
		</div><!-- greywrap -->
		
		<!-- Proximo Evento -->
		<section class="section-divider textdivider divider3">
			<div class="container" id="p_evento" name="p_evento">
				<h1>PROXIMO EVENTO</h1>
				<hr>
				<p>Sabado 18 de febrero a las 10:00 am en el centro cultural israelita (Maipu 252, ciudad). ¡Los esperamos!</p>
				<!-- <p><a class="btn btn-success">Leer Más</a></p> -->
			</div><!-- container -->
		</section><!-- section -->
		
		<!-- ==== Eventos Anteriores ==== -->
		<div class="container" id="portfolio" name="portfolio">
		<br>
			<div class="row">
				<br>
				<h1 class="centered">EVENTOS ANTERIORES - En construcción</h1>
				<hr>
				<br>
				<br>
			</div><!-- /row -->
			<div class="container">
			
			<div class="row">	
			  <% @eventos1a3.each do |evento| %>			  
				<!-- PORTFOLIO IMAGE 1 -->
				<div class="col-md-4 ">
			      <div class="grid mask">
					<figure>
					  <%= image_tag evento.imagen, class: "img-responsive" %>
					  <%= image_tag evento.imagen.small %>
					    <figcaption>
					      <h5>Mendotaku 2016</h5>
					      <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Ver Más</a>
					    </figcaption><!-- /figcaption -->
					</figure><!-- /figure -->
			      </div><!-- /grid-mask -->
				</div><!-- /col -->
				
				<!-- MODAL SHOW THE PORTFOLIO IMAGE... -->
			    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">Project Title</h4>
					  </div>
					  <div class="modal-body">
					    <p><img class="img-responsive" src="/assets/portfolio/folio01.jpg" alt=""></p>
						<p>Demostración de Rol en vivo. Titulo: "La conspiración de Alby". En el marco del conocido evento Mendotaku, tuvimos la oportunidad de interpretar para un concurrido público, uno de nuestros juegos de rol preferidos: Vampro, edad Oscura. Además contamos con mesas de juego y exhibición de manuales.</p>
						<p><b><a href="#">Visit Site</a></b></p>
					  </div>
					  <div class="modal-footer">
					    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					  </div>
					</div><!-- /.modal-content -->
				  </div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
			  <% end %>
			</div><!-- /row -->

				<!-- PORTFOLIO IMAGE 4 -->
			<div class="row">	
				<div class="col-md-4 ">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="/assets/portfolio/folio04.jpg" alt="Small yamanishi   1ra">
							<figcaption>
								<h5>PROFILE</h5>
								<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->
				
				<!-- PORTFOLIO IMAGE 5 -->
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="/assets/portfolio/folio05.jpg" alt="">
							<figcaption>
								<h5>TWITTER STATUS</h5>
								<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->
				
				<!-- PORTFOLIO IMAGE 6 -->
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="/assets/portfolio/folio06.jpg" alt="">
							<figcaption>
								<h5>PHONE MOCKUP</h5>
								<a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg">Take a Look</a>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->
			</div><!-- /row -->
			<br>
			<br>
		</div><!-- /row -->
	</div><!-- /container -->

		
				
		<!-- ==== SECTION DIVIDER6 ==== -->
		<section class="section-divider textdivider divider6">
			<div class="container">
				<h1>CON PASIÓN, DESDE MENDOZA</h1>
				<hr>
				<p>OrdenDelRol@Gmail.com</p>
				
				<p><a class="icon icon-twitter" href="#"></a> | <a class="icon icon-facebook" href="#"></a></p>
			</div><!-- container -->
		</section><!-- section -->
		
		<div class="container" id="contact" name="contact">
			<div class="row">
			<br>
				<h1 class="centered">GRACIAS POR VISITARNOS</h1>
				<hr>
				<br>
				<br>
				<div class="col-lg-4">
					<h3>Contact Information</h3>
					<p><br/>
						
						<span class="icon icon-mobile"></span> 0261-156983918 (Andrés) <br/>
						<span class="icon icon-envelop"></span> OrdenDelRol@Gmail.com <br/>
						<span class="icon icon-facebook"></span> <a href="https://www.facebook.com/ordendelrol/"> La Orden del Rol </a> <br/>
					</p>
				</div><!-- col -->
				
				<div class="col-lg-4">
					<h3>Registrate</h3>
					<p>Si deseas recibir noticias acerca de futuros eventos y articulos, dejanos tu email</p>
					<p>
						<form class="form-horizontal" role="form">
						  <div class="form-group">
						    <label for="inputEmail1" class="col-lg-4 control-label"></label>
						    <div class="col-lg-10">
						      <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="text1" class="col-lg-4 control-label"></label>
						    <div class="col-lg-10">
						      <input type="text" class="form-control" id="text1" placeholder="Your Name">
						    </div>
						  </div>
						  <div class="form-group">
						    <div class="col-lg-10">
						      <button type="submit" class="btn btn-success">Sign in</button>
						    </div>
						  </div>
					   </form><!-- form -->
					</p>
				</div><!-- col -->
				
				<div class="col-lg-4">
					<h3>Colabora con nosotros</h3>
					<p>Si eres narrador o jugador, y crees que puedes ayudarnos a mejorar, aportar contenidos, o participar en alguno de nuestros eventos ¡No dudes en contactarte con nosotros!</p>
				</div><!-- col -->

			</div><!-- row -->
		
		</div><!-- container -->

		<div id="footerwrap">
			<div class="container">
				<h4>Template created by <a href="http://blacktie.co">BlackTie.co</a> - Copyright 2014 -- Adapted by Andrés Coppola</h4>
			</div>
		</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
		

	<script type="text/javascript" src="/assets/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/retina.js"></script>
	<script type="text/javascript" src="/assnets/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/assets/smoothscroll.js"></script>
	<script type="text/javascript" src="/assets/jquery-func.js"></script>
  

