<!DOCTYPE html>
<html>
  <head>
	  <link href="/assets/login.css" rel="stylesheet">
      <!-- Bootstrap core CSS -->
      <link href="/assets/bootstrap.css" rel="stylesheet">

  </head>

  <body>
    <%= yield %>
  </body>


</html>
