<div class="centered">
  <h1>Escribe un artículo</h1>
</div>

<%= render 'form' %>
<div id="circle-shape-example">
  <div class="centered" >
    <h2><%= link_to 'Volver', articulos_path %></h2>
  </div>
</div>
